@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --bg-color: rgb(56, 58, 71);
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
}

.hidden {
  visibility: hidden;
}

.container {
  display: grid;
  place-items: center;
  gap: 30px;
}

.gameboard {
  /* border: 1px solid magenta; */
  background-color: black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 6px;
  position: relative;
}

.square {
  font-family: 'Playpen Sans', cursive;
  font-size: 100px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  background-color: var(--bg-color);
  text-align: center;
  display: grid;
  place-items: center;
}

.square:hover {
  cursor: pointer;
}

.menu {
  position: absolute;
  background-color: rgba(208, 195, 209, 0.919);
  color: black;
  border-radius: 12px;
  box-shadow: 2px 2px 8px black;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 12px;
  display: grid;
  place-items: center;
  gap: 60px;
}
.menu #instructions {
  text-align: center;
  font-size: 24px;
  padding: 0 24px;
}

.player-container {
  display: flex;
  gap: 24px;
}

.player {
  position: relative;
}

.menu .player input {
  background-color: rgba(70, 53, 53, 0.723);
  border: none;
  border-radius: 10px;;
  width: 150px;
  height: 40px;
  z-index: 2;
  position: relative;
  font-size: 25px;
  text-align: center;
  color: rgb(234, 234, 234);
}

.menu .player .marker,
.game-info .player .marker {
  font-family: 'Playpen Sans', cursive;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

#start-btn {
  background-color: rgb(162, 13, 8);
  color: white;
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

#start-btn:hover:not(:active) {
  transform: scale(1.05);
}

.game-info {
  height: 100px;
  display: flex;
  align-items: center;
  gap: 30px;
}


.game-info .player .name {
  border: none;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  font-size: 25px;
  text-align: center;
  color: rgb(234, 234, 234);
  min-width: 100px;
}

.game-info .player .marker {
  font-family: 'Playpen Sans', cursive;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

/* "VS" text*/
.game-info > span {
  color: white;
  font-size: 32px;
}